@import "tailwindcss";
@import "./styles/fonts.css";

html {
	overscroll-behavior: none;
}

#app {
	height: 100dvh;
	user-select: none;
	-webkit-user-select: none;
}

.drag-region {
	--z-modal: 4;
	z-index: var(--z-modal);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
}

@theme {
	--font-mono: "JetBrains Mono", monospace;
	/* Custom variables */
	--postgresql: #679ac5;
}

:root {
	@mixin dark-root {
		--mantine-color-body: var(--mantine-color-dark-8);
		--mantine-color-default-border: var(--mantine-color-dark-9);
		--mantine-color-error: var(--mantine-color-red-4);
		--mantine-primary-color-filled: var(--mantine-color-blue-5);
	}
}

.scrollable {
	overflow: auto;
	overscroll-behavior: none;
}

.scrollable::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

.scrollable::-webkit-scrollbar-thumb {
	background-color: var(--mantine-color-dark-5);
	border-radius: 2px;
}

.scrollable::-webkit-scrollbar-thumb:hover {
	background-color: var(--mantine-color-dark-4);
}

.scrollable::-webkit-scrollbar-track {
	background-color: transparent;
}
