@import "./styles/fonts.css";

html {
	overscroll-behavior: none;
}

#app {
	height: 100dvh;
	user-select: none;
	-webkit-user-select: none;
}

.drag-region {
	--z-modal: 4;
	z-index: var(--z-modal);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
}

:root {
	@mixin dark-root {
		--mantine-color-body: var(--mantine-color-dark-8);
		--mantine-color-default-border: var(--mantine-color-dark-9);
		--mantine-color-error: var(--mantine-color-red-4);
	}
}
